*{
    padding: 0px;
    margin: 0px;
    background-color: #28282B;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    border-bottom: 3px solid  orange;
    font-family: 'Courier New', Courier, monospace;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;

  }
  
  li a:hover:not(.active) {
    background-color: orange;
  }
  
 

#intro_part1{
    position: absolute;
    top: 35%;
    color: white;
    font-size: 45px;
    left: 6%;
    font-family: 'Courier New', Courier, monospace;
}

#intro_part2{
    position: absolute;
    top: 45%;
    font-size: 67px;
    color: white;
    left: 6%;
    font-family: 'Courier New', Courier, monospace;
}


#intro_part4{
    position: absolute;
    top: 52%;
    font-size: 67px;
    color: white;
    left: 6%;
    font-family: 'Courier New', Courier, monospace;
}


#intro_part3{
    position: absolute;
    top: 63%;
    font-size: 45px;
    color: white;
    left: 6%;
    font-family: 'Courier New', Courier, monospace;
}

#face2{
    position: absolute;
    left: 55%;
    top:14%;
    width: 20%;
}

.footer{
  color: white;
  position: absolute;
  top: 95%;

}

